* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "Roboto", -apple-system, system-ui, sans-serif;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
.todo {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(80vw - 20px);
  height: calc(100vh - 100px);
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 11px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
  font-size: 14px;
  &__sidebar {
    background: #f4f6f8;
    min-width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 50px 15px;
    overflow: auto;
  }
  &__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
  }
}

.button {
  cursor: pointer;
  background: #4dd599;
  border-radius: 4px;
  color: white;
  border: 0;
  padding: 10px 20px;
  margin-right: 10px;
  &:disabled {
    background-color: #d8d8d8;
  }
  &:hover {
    background: darken($color: #4dd599, $amount: 6%);
    transition: 0.3s ease-in;
  }
  &:active {
    background: darken($color: #4dd599, $amount: 10%);
  }
  &.button--grey {
    background: #f4f6f8;
    color: #9c9c9c;
    &:hover {
      background: darken($color: #f4f6f8, $amount: 6%);
    }
    &:active {
      background: darken($color: #f4f6f8, $amount: 10%);
    }
  }
}
.field {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.3s ease-in;
  width: 100%;

  &:focus {
    border-color: #b6adad;
  }
}
